/* css לדף הראשי
/* גרסה של מסך מחשב */
/* :root {
  --black (#black)
} */
/* * {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;

  background-color: aliceblue;
}

#myLogo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
*/
img {
  border-radius: 4%;
} /*
.mySection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  height: 4%; */
/* width: 100%;
}*/

.MyLinks {
  text-decoration: none;
}
/* .MyLinks {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  transition-duration: 1s;
}

.ParagraphHotelsHome {
  color: black;
} */
/*
.HomeTitle {
  font-family: "Karantina", cursive;
  color: pink;
}
.MyLinks:hover {
  background-color: rgba(165, 164, 164, 0.308);
}

.AllEvents {
  display: flex;
  justify-content: space-evenly;
}
.AllEvents div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.AllEvents img {
  height: 33%;
}
.myForm {
  width: 40%;
  border-radius: 22%;
  color: rgb(52, 191, 196);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  position: relative;
   
  background-image: url(/papar.jpg);
} */

input {
  height: 4%;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
}

.forCenter {
  font-family: "Suez One", serif;
}

.mySubmit {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  font-family: "Suez One", serif;
}

h3 {
  text-align: center;
}
*/ .forMyCenter {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  * {
    background: red;
  }
  main {
    padding: 1%;
  }
  #myLogo {
    width: 50%;
  }
  img {
    width: 95%;
  }
  .HomeTitle {
    text-align: center;
    font-family: "Karantina", cursive;
    color: pink;
  }

  .ParagraphHotelsHome {
    color: black;
  }
  .myForm {
    
    color: rgb(52, 191, 196);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
    display: flex;
    position: relative;
     
  } 
  .myForm input{
    color: black;
  }
  footer h6 {
    text-align: right;
   font-size: 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  * {
    background: blue;
  }
  #myLogo {
    width: 50%;
  }
  img {
    width: 55%;
  }
  .HomeTitle {
    font-family: "Karantina", cursive;
    color: pink;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  * {
    background: pink;
  }
  #myLogo {
    width: 50%;
  }
  img {
    width: 50%;
  }
  .HomeTitle {
    font-family: "Karantina", cursive;
    color: pink;
  }
}
