/* css לדף הראשי גרסה של מסך מחשב */

.mySection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  height: 4%;
  width: 100%;
}
.myForm {
  width: 40%;
  border-radius: 22%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  margin: auto;
  background-image: url(../media/papar.jpg);
}
input {
  height: 4%;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
}
.mySubmit {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  font-family: "Suez One", serif;
}

.forMyCenter {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 768px) {
  * {
    background: pink;
  }
  #myLogo {
    size: 100%;
  }
  img {
    width: 100%;
  }
  .HomeTitle {
    font-family: "Karantina", cursive;
    color: pink;
  }
}
