@-webkit-keyframes shadow-drop {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-family: Rubik, sans-serif;
  text-decoration: none;
  list-style: none;
}

h1,
h4,
h3,
h6 {
  text-align: center;
}

body {
  direction: rtl;
  background-color: whitesmoke;
}

body header {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
}

body header #myLogo {
  width: 50%;
}

body header .contact-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

body header .contact-logos-img {
  width: 8%;
  height: auto;
}

body header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .hotels article {
  width: 20%;
  padding: 0.2%;
  margin-bottom: 4%;
}

body main .hotels article .location {
  height: auto;
}

body main .hotels article .hotels-img {
  -webkit-animation: shadow-drop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border-radius: 4%;
  width: 100%;
}

body main .events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4%;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: 100%;
  height: 80vh;
}

body main .events img {
  width: 100%;
  height: 50%;
}

body main .events section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0.2%;
}

body main .events section a {
  height: 100%;
}

body main .events section a .desc-img {
  -webkit-animation: shadow-drop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border-radius: 4%;
}

body main .events section .details-img {
  height: 4%;
  width: auto;
}

body .form {
  background-color: #15172b;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

body .form h3 {
  color: white;
}

body .form .input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

body .form .submit {
  background-color: #5eacdd;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

body .form .input:focus ~ .placeholder {
  color: whitesmoke;
}

body .form .ic1 {
  margin-top: 40px;
}

body .form .ic2 {
  margin-top: 30px;
}

body .form .placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
  top: 20px;
}

body .form .input:focus ~ .cut,
body .form .input:not(:placeholder-shown) ~ .cut {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

body .form .input:focus ~ .placeholder,
body .form .input:not(:placeholder-shown) ~ .placeholder {
  -webkit-transform: translateY(-30px) translateX(10px) scale(0.75);
          transform: translateY(-30px) translateX(10px) scale(0.75);
}

body .form .subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

body .form .input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

body .form .cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  width: 76px;
}

body .form .cut-short {
  width: 50px;
}
/*# sourceMappingURL=sytle.css.map */