@mixin flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Rubik, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    direction: rtl;
    background-color: whitesmoke;

    header {
        background-color: whitesmoke;
        @include flexCenter();
        position: sticky;
        top: 0;

        .contact-logos {
            @include flexCenter();
            justify-content: end;
        }

        .contact-logos-img {
            width: 8%;
            height: auto;
        }

        .navbar-nav {
            @include flexCenter();
        }
    }


}