* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font: {
        // size: 18px;
        weight: bold;
    }

    text: {
        transform: lowercase;
    }

}

body {
    img {
        border-radius: 10px;
    }

    .title {
        padding-top: 1%;
        // margin: 4%;
        display: flex;
        justify-content: center;

        p {
            padding-left: 25%;
            margin-right: 11%;
        }

        img {
            position: relative;
        }
    }

    .Employee {
        display: grid;
        grid-template-columns: repeat(3, 26%);
        gap: 9%;

        h5 {
            font-size: 24px;
            text-align: center;
        }

        img {
            width: 100%;
        }
    }

    .divForm {
        padding-top: 6%;

        .form {
            height: 585px;
        }

    }
}