* {
    background-origin: 0;
    padding: 0;
    box-sizing: border-box;

    font: {
        size: 18px;
        weight: bold;
    }

    text: {
        transform: lowercase;
    }

}

body {
    img {
        border-radius: 10px;
    }

    .title {
        img {
            position: relative;
        }
    }

    .Employee {
        width: 100%;
        display: flex;

        img {
            width: 100px;
        }

    }
}